body {
  background-color: #000;
  color: #00ff00;
  font-family: monospace;
  padding-top: 82px;

  overflow: hidden;
}
.cursor {
  animation: blink 1s infinite linear;
}
.header {
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 50px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid green;
  z-index: 10000;
}
.stats {
  display: flex;
  gap: 40px;
  width: 40%;
}

.abort {
  background-color: red;
  color: white;
  border: none;

  width: 120px;
  height: 40px;
  font-size: 18px;
  font-family: "Courier New", monospace;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  letter-spacing: 1px;
  font-weight: bold;
}

.abort:hover {
  box-shadow: 0 0 10px red;
}

.abort-active {
  color: rgb(255, 0, 0);

  font-size: 64px;
  text-align: center;
  letter-spacing: 5px;
  position: fixed;
  background: rgba(128, 128, 128, 0.336);
  font-family: Haettenschweiler;
  border: 3px solid rgb(126, 0, 0);
  padding: 25px 30px;
  z-index: 100;
  backdrop-filter: blur(5px);
}
.abort-active-btn {
  background-color: rgb(77, 77, 77);
  cursor: not-allowed;
}
.abort-active-btn:hover {
  transform: none;
  box-shadow: none;
}
.abort-active-btn::after {
  content: "ED!";
}

.code {
  font-family: "Courier New", Courier, monospace; /* Monospace font for code */

  background-color: #000000; /* Black background */
  padding: 10px;
  white-space: pre-wrap; /* Ensures proper wrapping for long lines */
  line-height: 1.5;
}

.overlay {
  position: fixed;
  top: 82px;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  z-index: 100;
}
.access-granted {
  /* font-weight: 600; */
  font-size: 48px;
  backdrop-filter: blur(5px);
  letter-spacing: 5px;

  background: rgba(128, 128, 128, 0.336);
  font-family: Haettenschweiler;
  border: 3px solid #008500;
  padding: 25px;
  z-index: 102;

  text-align: center;
}
.access-denied {
  /* font-weight: 600; */
  font-size: 48px;
  backdrop-filter: blur(5px);
  letter-spacing: 5px;
  color: red;
  z-index: 102;

  background: rgba(128, 128, 128, 0.336);
  font-family: "Haettenschweiler";
  border: 3px solid rgb(126, 0, 0);
  padding: 25px;

  text-align: center;
}
.center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes blink {
  0% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Invisible at halfway */
  }
  100% {
    opacity: 1; /* Fully visible again */
  }
}

.hidden {
  display: none;
}
@media (max-width: 816px) {
  #network,
  #uptime {
    display: none;
  }
}
@media (max-width: 600px) {
  #network,
  #uptime {
    display: none;
  }
  .header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .stats {
    gap: 20px;
    width: 40%;
    margin-left: 30px;
  }
  .abort {
    font-size: 12px;
    height: 30px;
    width: 80px;
  }
  .code {
    font-size: 12px;
    overflow-x: hidden;
  }
  .access-denied,
  .access-granted,
  .abort-active {
    width: 80%;
    font-size: 32px;
    text-wrap: nowrap;
  }
  .abort-active {
    font-size: 48px;
    width: 70%;
  }
}
